@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    font-family: "Poppins", sans-serif;
}
:root{
    --player-color: #282828;
    --sidebar-color: #000000;
    --musicsection-color: #141922;
    --bar-color: #5A5A5A;
    --brand-color: #ADFF2F;
    --white: #FFFFFF;
    --white-no-selected: rgb(255,255,255,0.3);
    --white-md: rgb(255,255,255,0.5);
    --musicsection-color-md: #080b1285;


}
/* RESET RULES */
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}
img{
    width: 100%;
    display: block;
}
a{
    text-decoration: none;
    color: currentColor;
}
ul,li{
    list-style:none;
}
/* utilities */
.white{
    color: var(--white)
}
/* MAIN STYLE */
.main-view{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-page{
    flex-grow: 1;
    display: flex;
}
.sidebar{
    width: 230px;
    flex-shrink: 0;
    background-color: var(--sidebar-color);
    padding: 20px;
    color: var(--white-no-selected);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
    

    
    
}
.sidebar > *{
    row-gap: 15px;
    display: flex;
    flex-direction: column;
    
}
.sidebar .logo{
    width: 140px;
    
}
.logo-sm{
    display: none;
}
.music-section{
    flex-grow: 1;
    background-color: var(--musicsection-color);
    overflow-y: auto;
    position: relative;
    
}
.music-section-header{
    background-color: var(--musicsection-color-md);
    display: flex;
    padding: 20px 5px 25px;
    position: fixed;
    width:calc(100% - 230px);
    z-index: 999;
   
}

.music-section-body{
    padding: 20px 5px;
    /* display: flex;
    justify-content:center;
    flex-direction: column; */
    height: 0;
    row-gap: 30px;
    color: var(--white-no-selected);
   
}
.navabar-music-section{
    display: flex;
    gap: 30px;
    padding-top: 90px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: center;

}
.section-link{
    text-transform: uppercase;
    position: relative;
}
.upgrade-button{
    border: 2px solid var(--white);
    border-radius: 999px;
    color: var(--white);
    margin-left: auto;
    padding: 12px 40px;
    text-transform: uppercase;

}
.music-selection-title{
    padding-left: 15px;
    margin-bottom: 25px;
    font-size: 25px;
}
.music-selection-subtitle{
    padding-left: 15px;
    margin-bottom: 30px;
    font-size: 14px;
}
.music-selection{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    
}
.music-card{
    width: calc(100% / 6);
    flex-shrink: 0;
    padding: 0px 15px;
    text-align: center;
    position: relative;
    
    
}
.radius-card{
    border-radius: 50%; 
}
 .card-img{
    position: relative;
}

.play-music{
   
    
    z-index: 1;
    font-size: 50px;
   
}
 .black-pattern{
    width:100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.459);
    position: absolute;
    display: none;
  
 }
.card-title{
    font-size: 16px;
    margin: 20px 0px 10px;
}

a img{
    height: 25px;
    width: 25px;
    display: block;
    opacity: 0.3;
    
    
}
.menu > *{
    display: flex;
    gap: 7px;
    align-items: center;
   
    
}
.menu-icon{
    
    position: relative;
    
   
    
}


.sidebar-footer{
    margin-top: auto;
}
.sidebar-footer > *{
    display: flex;
    gap: 7px;
    align-items: center;
    
}
.download-section{
    border-bottom: 2px solid var(--bar-color);
    padding-bottom: 10px;
}
#profile-icon{
    background-color: var(--white-md);
    border-radius: 999px;
    width: 30px;
    height: 30px;
}
.add-playlist{
    display: flex;
    gap: 7px;
    align-items: center;
}
.plus-icon{
    background-color: var(--white-md);
    width: 36px;
    font-size: 20px;
    text-align: center;
    line-height: 36px;
    color: var(--sidebar-color);
    
}

.playlist-name > *{
    margin-bottom: 10px;
}
/* PLAYER STYLE */
.player{
    background-color: var(--player-color);
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #FFFFFF;
    padding: 15px 10px 25px;
    align-items: center;
    gap: 20px;
    /* position: fixed;
    bottom: 0px; */
}
.music-selected{
    display: flex;
    width: 210px;
    justify-content: space-between;
    align-items: center;

}
.music-selected-info{
    margin-right: 30px;
}
.music-selected .music-name{
    font-size: 14px;
}
.music-selected .music-info{
    font-size: 12px;
    color: var(--white-no-selected)
}
.prefer-icon{
    color:var(--white-no-selected);
    display:flex;
    gap: 10px;
}
.brano-img{
    aspect-ratio: 1/1;
    height: 45px;
    
    
}  
.console{
    width: 40%;
} 
.player-btn{
    display:flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}
.play-button{
   font-size: 30px;
   margin: 0px 10px;
}
.player-timebar{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.timebar{
    flex-grow: 1;
    
}
.timebar .bar{
    background-color: var(--bar-color);
    width: 100%;
}
.timebar .listened-time{
    height: 5px;
    width: 20%;
    background-color: white;
    position: relative;
}
.music-time{
    font-size: 12px;
}
.volume{
    display: flex;
    width: 210px;
    justify-content: space-between;
    align-items: center;
}
.volumebar{
    width: 55%;
}
.volumebar .bar{
    width: 100%;
    background-color: var(--bar-color);
}
.volumebar .volume-high{
    height: 5px;
    width: 20%;
    background-color: white;
    position: relative;
}
/* HOVER RULES */

.menu-icon:hover:before{
    left: -18px;
    content: "";
    width: 2px;
    height: 100%;
    background-color: var(--brand-color);
    position: absolute;
    
}
.section-link:hover::before{
    content: "";
    width: 2px;
    height: 2px;
    background-color: var(--brand-color);
    position: absolute;
    transform: translateX(-20px);
    width:40px;
    left: 50%;
    bottom: 0px;
}

.plus-icon:hover{
    background-color: var(--white);
}
a img:hover,a:hover{
    opacity: 1;
    color: var(--white);
}
i:hover{
    cursor: pointer;
}
.play-button:hover{
    transform: scale(1.5);
}
.upgrade-button:hover{
    transform: scale(1.2);
    
}
.music-card:hover{
    .black-pattern{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    cursor: pointer;
}
.playlist-created .music-card:hover,
.popular-artist .music-card:hover{
    transform: scale(1.1);
}
.timebar .listened-time:hover::before,
.bar .volume-high:hover::before
{
   content:"";
   width: 15px;
   aspect-ratio: 1/1;
   background-color: white;
   position: absolute;
   border-radius: 50%;
   right: 0;
   top: 50%;
   transform:translateY(-50%);
     
}
.timebar .listened-time:hover,
.bar .volume-high:hover
{
    background-color: var(--brand-color);
}

/* MEDIA QUERIES */
@media (max-width: 992px){
    .music-card{
        width: calc(100% / 4);
        
        
        
    }
}
@media (max-width: 768px){
    .prefer-icon{
        
        flex-direction: column;
    }
    .music-card{
        width: calc(100% / 2);
        
        
        
    }

}
@media (max-width: 576px){
    .sidebar{
        width: 50px;
        padding: 8px;
    }
    .logo{
        display: none;
    }
    .logo-sm{
        display: block;
    }
 
    .dp-xs-none{
        display: none;
    }
    .music-selected,.volume{
        width: 100px;
    }
    .music-selected{
        justify-content: center;
        gap: 10px;
    }
    .volume{
        flex-direction: column;
        row-gap: 20px;
    }
    .menu-icon:hover:before{
        left: -5px;
      
        
    }
    .music-section-header{
      
        width:calc(100% - 50px);
    
       
    }
}
@media (max-height: 750px)
{
    .playlist-name{
        display: none;
    }
}


/* DEBUG RULES */
.debug .main-view{
    border: 2px solid red;
}

.debug .main-page{
    border: 2px solid blue;
}