:root{
    --player-color: #282828;
    --sidebar-color: #000000;
    --musicsection-color: #141922;
}
/* RESET RULES */
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}
img{
    width: 100%;
    display: block;
}
.main-view{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-page{
    flex-grow: 1;
    display: flex;
}
.sidebar{
    width: 230px;
    flex-shrink: 0;
    background-color: var(--sidebar-color);
}
.music-section{
    flex-grow: 1;
    background-color: var(--musicsection-color);
}
.player{
    background-color: var(--player-color);
    display: flex;
    justify-content: space-between;
}
.music-selected{
    display: flex;
    width: 230px;
    justify-content: space-between;
    align-items: center;

}
.brano-img{
    aspect-ratio: 1/1;
    height: 45px;
    
    
}   
/* DEBUG RULES */
.debug .main-view{
    border: 2px solid red;
}

.debug .main-page{
    border: 2px solid blue;
}